{% extends 'news/default.html' %}

{% load censor_filters %}  
{% load custom_tags %}

{% block title %} Новости {% endblock %}

{% block content %} 
    <h1>Все новости</h1>
    <h3>{% current_time '%b %d %Y' %}</h3>
    <hr>

    <h5>Количество новостей: {{ posts_list|length}}</h5>
    {% if posts_list %}
        <table>
            <tr>
                <td><h5>Заголовок</h5></td>
                <td><h5>Дата публикации</h5></td>
                <td><h5>Текст новости</h5></td>
            </tr>
            {% for post in posts_list %}
                <tr>
                    <td>{{ post.titlePost }}</td>
                    <td>{{ post.dateCreate|date:'d M Y' }}</td>
                    <td>{{ post.textPost|truncatewords:20}}</td>
                </tr>
            {% endfor %}
        </table>
    
    {% else %}
        <h2>Новостей нет</h2>

    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock %}