{% extends 'news/default.html' %}

{% load censor_filters %}  
{% load custom_tags %}

{% block title %} Новости {% endblock %}

{% block content %} 
    <h1>Все новости</h1>
    <h3>{% current_time '%b %d %Y' %}</h3>
    <hr>

    <h5>Количество новостей: {{ posts_list|length}}</h5>
    {% if posts_list %}
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Заголовок</th>
                    <th>Дата публикации</th>
                    <th>Текст новости</th>

                    {% if perms.news.delete_post or perms.news.update_post %}
                    <th>Действия</th>
                    {% endif %}
                </tr>
            </thead>
            {% for post in posts_list %}
                <tr>
                    <td><a href="{{ post.get_absolute_url }}">{{ post.titlePost }}</a></td>
                    <td>{{ post.dateCreate|date:'d M Y' }}</td>
                    <td>{{ post.textPost|truncatewords:20}}</td>
                    <td>
                        {% if perms.news.change_post %}
                        <a href="{% url 'update' pk=post.id %}">Изменить</a>
                        {% endif %}

                        {% if perms.news.delete_post %}
                        <a href="{% url 'delete' pk=post.id %}">Удалить</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    
    {% else %}
        <h2>Новостей нет</h2>

    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock %}